name: Daily Chess Video

on:
  schedule:
    - cron: "0 18 * * *"   # kl 18:00 UTC
  workflow_dispatch:        # We can run it manually from GitHub

jobs:
  build-generate-video:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Install Python deps
        run: |
          pip install -r requirements.txt

      - name: Generate chess video
        run: |
          python main.py
